{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}
<div class="row">
  <div class="col-md-6">
    <h3>October, 2021 <br>
      <small>We'll take breaks as needed</small></h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://datacarpentry.org/spreadsheets-socialsci/" target="_blank">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>2:00</td>  <td>10 min break</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
	  <h3>Fall 2021, Working with Data Workshop Series</h3><br>
    <table class="table table-striped">
      <tr> <td>October 14, 2021</td>  <td>Data Organization in Spreadsheets (this workshop)<br>
        <a href="https://www.eventbrite.com/e/the-unix-shell-tickets-110191172764"  target="_blank">
          Register for Workshop</a>, 
        <a href="https://ucrlibrary.github.io/2021-10-14-ucr/"  target="_blank">View the Workshop Repository</a></td> </tr>
      <tr> <td>November 18, 2021</td>  <td>Prepare and Visualize Your Data in Excel <br>
        <a href="https://www.eventbrite.com/e/version-control-with-git-tickets-110198913918"  target="_blank">
		Register for Workshop</a> </td> </tr>
      
    </table>
  </div>
</div>



{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
